@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
body {
    background-color:#FC4F4F;
}

.heading{
    text-align: center;
    color:white;
    font-family:"LibreBaskervi";
    font-weight: 700;
    font-size:4rem;
}
.link{
    text-decoration: none;
}
.footer{
    padding:2rem
}